
:root{
    --primary-color: #151780;
    --primary-color-accent: #080a6a;
    --coloring-hud:#12136a;
    --secondary-color: #FFFF;
    --accent-color: #ED090A;
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --font-size: 1rem;
    --secondary-font-size: 2rem;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --text-shadow: 3px 3px 4px black;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/fullpowwweer.png);
}
.headcontact{
    height:fit-content;
    width: 100%;
}
.container{
    margin-top: 10px;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    height: 100vh;
    max-height: 800px;
    max-height: 800px;
    background-image: url(assets/prtfond.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#inner{
    width: 100%;
}
hr{
    height: 1px;
    width: 95%;
    margin-left: 2.5%;
    background:#6e95ff;
    border: none;
    box-shadow:0 0 6px rgba(110,234,255,0.9);
}
form{
    border: 1px solid var(--coloring-hud);
    height: fit-content;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 15px rgba(0, 255, 255, 0.6));
    margin-top: 1%;
    width: 80%;
     clip-path: polygon(
    8% 0%, 100% 0%,
    100% 65%,
    92% 100%, 0% 100%,
    0% 35%
  );
}
#contactHud, #submitbtn{
    height: fit-content;
    padding: 14px 20px !important;
}
#contactHud{
    color: var(--primary-color);
    font-weight: 600;
}
#textarea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35%;
    margin-bottom: 35px;
}
.sectionbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
h2{
    margin-top: 10px;
}
p, label{
    color:var(--secondary-color) !important;
}
label{
    font-size: var(--font-size);
    font-family: var(--primary-font);
}
p{
    text-align: center;
}
.inputtext{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 80%;
}
#submitbtnphone{display: none;}
textarea{
    width: 60%;
    height: 90%;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
}
.inputdiv{
    display: flex;
    height: 50%;
    gap: 5px;
    margin-block: 5px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
}
input{
    width:20vw;
}
option{
    background-color: var(--primary-color-accent);
    width: 20vw;
    color:var(--secondary-color);
    border-radius: 5px;
}
select{
    -webkit-appearance: none;
    appearance: none;
}
input, textarea, select{
    padding: 8px 15px;
    background: transparent;
    text-align: center;
    border: 1px solid #6e95ff;
    border-radius: 10px;
      clip-path: polygon(
    8% 0%, 100% 0%,
    100% 65%,
    92% 100%, 0% 100%,
    0% 35%
  );
  color: white;
  font-size: var(--font-size);
}
@media (max-width : 768px) {
    #form .inputtext{
        flex-direction: column;
    }
    form{
        margin-top: 30px;
    }
    #submitbtnphone{
        display: flex;
    }
    #form .inputdiv, #textarea{
        display: flex;
        flex-direction: row;
    }
    #contactHud, #submitbtn{
        display: none;
    }
}
@media (max-width : 480px) {
    p{
        display: none;
    }
}