
#header-service{
    background-image: url(assets/backsimple.png);
}
:root{
    --primary-color: #151780;
    --primary-color-accent: #080a6a;
    --coloring-hud:#12136a;
    --secondary-color: #FFFF;
    --accent-color: #ED090A;
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --font-size: 1.1rem;
    --secondary-font-size: 2rem;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --text-shadow: 3px 3px 4px black;
}
.btncontact{
    display: flex;
    gap: 30px;
}
h1{
    -webkit-text-stroke: 2px var(--primary-color-accent);
}
#contact{
    background-image: url(assets/citytown.png) !important;
}
#contact #contactus p{
    color: white;
}
main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#allServices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.serviceP p{
    color: var(--secondary-color);
}
.eachservices{
    background-image: url(assets/bord.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: fit-content;
    margin-block: 40px;
}
.front label{
    position: absolute;
    bottom: -20px;
}
@media (max-width:768px){
    .serviceP p{
        font-size: 0px;
    }
    .front{
        max-height: 300px;
    }
    .frontimage{
        width: 70% !important;
    }
}
.front{
    width: 45vw;
    height:60vh;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
}
.back{display: none;}
.frontimage{
    width: 40%;
    
}
h2{margin-top: 40px;}
.backimage{
    width: 20%;
}
h3{
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    -webkit-text-stroke: 1px var(--primary-color-accent);
    text-shadow: 0 0 10px var(--text-color);
}
.front div, .back div, .front{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.front, .back{}
