
#header-service{
    background-image: url(assets/backsimple.png);
}
:root{
    --primary-color: #151780;
    --primary-color-accent: #080a6a;
    --coloring-hud:#12136a;
    --secondary-color: #FFFF;
    --accent-color: #ED090A;
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --font-size: 1.1rem;
    --secondary-font-size: 2rem;
    --background-color: #f0f0f0;
    --text-color: #333333;
    --text-shadow: 3px 3px 4px black;
}
.btncontact{
    display: flex;
    gap: 30px;
}
@media (max-width:480px){
    .backimage{
        width: 40%;
        display: block;
    }
}
@media (min-width:1550px) {
    html{
          font-size: 30px;
      }
}
.back .hud-btn{
    font-size: 1.4rem;
}
h1{
    -webkit-text-stroke: 2px var(--primary-color-accent);
}
#contact{
    background-image: url(assets/citytown.png) !important;
}
#contact #contactus p{
    color: white;
}
main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#allServices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.serviceP p{
    color: var(--secondary-color);
    font-weight: 600;
}
.eachservices{
    background-image: url(assets/bord.png);
    width: 45vw;
    background-size: 100% 100%;
    position: relative;
    max-height: 400px;
    background-repeat: no-repeat;
    height: 60vh;
    margin-block: 40px;
    transition: all 0.5s;
}
.front label{
    position: absolute;
    bottom: -20px;
}
.back label{
    position: absolute;
    bottom:-20px;
}
.back{
    height: 75vh;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
@media (max-width:768px){
    input[type="checkbox"]:checked + .eachservices .back {
    opacity: 1;
    transform: translateY(-400px);
    pointer-events: auto;
}
input[type="checkbox"]:checked + .eachservices{
    width: 80vw;
    height: 400px;
}

}
@media (min-width: 768px){
    input[type="checkbox"]:checked + .eachservices .back {
    opacity: 1;
    transform: translateY(-60vh);
    pointer-events: auto;
}
input[type="checkbox"]:checked + .eachservices{
    width: 80vw;
    height: 75vh;
}

}
@media (max-width:768px){
    .front .serviceP p{
        font-size: 0px;
    }
    .front{
        max-height: 300px;
    }
    .frontimage{
        width: 70% !important;
    }
}
input[type="checkbox"]:checked + .eachservices .front {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}
.backrepresent{display: none !important;}


.front{
    width: 45vw;
     opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    max-height: 400px;
    height:60vh;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
}
.front, .back {
    filter: blur(0);
}

input:checked + .eachservices .front {
    filter: blur(4px);
}

.back{
    position: absolute;
     pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
     transform: translateY(20px);
    opacity: 0;
}
.frontimage{
    width: 40%;
    
}
h2{margin-top: 40px;}
.backimage{
    width: 20%;
}
h3{
    font-size: 1.5rem;
    text-align: center;
    color: var(--secondary-color);
    -webkit-text-stroke: 1px var(--primary-color-accent);
    text-shadow: 0 0 10px var(--text-color);
}
.front div, .back div, .front{
    display: flex;
    align-items: center;
    flex-direction: column;
}

